body {
  padding-top: 0px;
  padding-bottom: 20px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Crimson Text', serif;
	color: #000000;
}

h1 {
	font-size: 3.25em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1em;
}


footer {
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 10px;
	letter-spacing: 0.5px;
}

/* General */
.brand-name {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 2.25em;
	font-weight: 400;
	color: #000000;
}

.top-margin-xs {
	margin-top: 10px;
}

.top-margin-sm {
	margin-top: 40px;
}

.top-margin-md {
	margin-top: 80px;
}

/* Nav */
.nav {
	margin-right: 40px;
}

/* Home Page */
.brand-details {
	margin-top: 20px;
	margin-left: 40px;
	color: #999999;
	cursor: default;
}

.glyphicon-info-sign {
	cursor: help;
}

.thumbnail {
	padding-top: 24px;
}

.services {
	margin-top: 40px;
}

.service-title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: underline;
	color: #3a87ad;
}

.service-subtitle {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	margin-top: 16px;
	font-weight: 700;
	font-size:1.1em
}

.service-cta {
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 1.1em;
}

.thumbnail {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 71%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(71%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 71%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 71%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 71%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 71%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

/* Social Page */
.brand-name-small {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.25em;
	font-weight: 400;
	color: #000000;
	position: absolute;
	right: 1em;
	top: 0.5em;
}

.brand-name-small a, .brand-name-small a:visited {
	color: #888888;
	text-decoration: none;
}

.brand-name-small a:hover {
	color: #000000;
	text-decoration: none;
}

.service-title-big {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2.25em;
	color: #3a87ad;
}

.benefit-section-1 {
	background-color: #009999;
}
