/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}


/* Navbar */
.brand-name {
	font-family: 'Francois One', sans-serif;
}

/* Homepage Headline */
.main-headline {
	font-family: 'Lobster', cursive;
}

.shattered-pattern {
	background-image: url(../img/shattered-pattern.png);
	background-repeat: repeat;
}

/* What We Do */
.section-title {
	padding-bottom: 10px;
}

.services h3 {
	font-weight: 400;
	color: #428bca;
}

.services p {
	color: #808080;
}

/* Get In Touch & Service/Product Promotion */
.contact-us {
	margin-top: 40px;
	margin-bottom: 50px;
}

p {
	color: #808080;
}

address {
	color: #808080;
}