<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="text-center">

  	{{ content }}

  	<div class="container">
	  	<footer class="text-muted">
	    	<p>© 2013 Arete, LLC. All rights reserved.</p>
	    </footer>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.js"></script>

    <!-- Trigger tooltip -->
    <script>
      $('#arete-definition').tooltip()
    </script>
  
  </body>
 </html>